.card-link {
  text-decoration: none;
  .card {
    height: 250px;
    width: 300px;
    box-shadow: 2px 2px 2px 2px #fafafa;
    color: #6c6c6c;
    font-size: 14px;
    border: 1px solid #eaeaea;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #4dd0e1;
    color: #000;
    & > div {
      display: flex;
      justify-content: space-between;
    }
  }
}
