.marksheet-container {
  display: flex;
  justify-content: center;
  table.marksheet {
    width: 50%;
    margin-top: 20px;
    td {
      padding: 8px;
      text-align: left;
      border: 1px solid #ddd;
    }
  }
  
  @media screen and (min-width: 993px) {
    table.marksheet {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 992px) {
    table.marksheet {
      width: 75%;
    }
  }
  
  @media screen and (max-width: 600px) {
    table.marksheet {
      width: 100%;
    }
  }
}