.app-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  padding: 0 8px;
  height: 75px;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  .search-box-container input {
    width: 200px;
    height: 35px;
    border-radius: 4px;
    font-size: 16px;
  }
  .sort-btns {
    width: 400px;
    margin-left: 10px;
    button {
      background-color: #3492ff;
      height: 40px;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      &:first-of-type {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (min-width: 993px) {
  .sort-btns button{
    font-size: 10px;
  }
}

@media screen and (max-width: 992px) {
  .sort-btns button{
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .sort-btns button{
    font-size: 8px;
  }
}