.dashboard {
  display: flex;
  flex-flow: row wrap;
  padding: 24px 48px;
  margin-top: 75px;
  background: #fff;
  .card-container {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 993px) {
  .dashboard .card-container {
    width: 33%;
  }
}

@media screen and (max-width: 992px) {
  .dashboard .card-container {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .dashboard .card-container {
    width: 100%;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .loader {
    width: 96px;
    height: 96px;
    border: 16px solid rgba(0, 0, 0, 0.1);
    border-left: 16px solid #000;
    border-radius: 50%;
    animation: loader 1s infinite linear;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
